
/* font: Raleway - already linked in html, so can use here */

html {
    font-size: 62.5%; /* 1rem = 10px - use rem */
}
body{
     background-color: #191D32;
     display: flex;
     align-items: center;justify-content: center;
     height: 100vh;
}

#main_box{
   background-color: white;
   border-style: solid;
   padding: 15px;
   border-radius: 10px;

}

.statement {
    border-style: solid;
    border-width: 1px;
    border-color: #e8d284;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    margin: 15px;
    word-wrap: break-word;
    font-size: 25px;

}

.statement:hover {
    background-color: #e8d284;
    color: white;
}
h1 {
    font-size: 3.5em;
}

